body {
    font-family: 'Arial', sans-serif;
}

.font-billify {
    font-family: 'Alfa Slab One', cursive;
}

.irish-grover-regular {
  font-family: "Irish Grover", system-ui !important;
  font-weight: 400;
  font-style: normal;
}
